<h4 class="text-2xl font-bold mb-4">Latest
  {{section_name|capfirst}}</h4>
<div class="section_grid">
  {% for obj in page_obj %}
    <a class="relative group" href="{% url 'books:book-detail' obj.pk %}">
      <img class="cover_image" src="{{obj.cover_image.url|default_if_none:" "}}" alt="Cover Image">
      <div class="font-bold text-gray-600 group-hover:opacity-100 absolute bottom-22 right-3 opacity-0">
        {{obj.rating}}
        / 5.0
      </div>
      <div class="font-bold">
        {{obj.title|truncatechars:29}}
      </div>
      <div>
        {{obj.year}}
      </div>
    </a>
  {% endfor %}
</div>
