<h4 class="text-2xl font-bold mb-4">Latest
  {{section_name|capfirst}}</h4>
<div class="grid grid-cols-5 gap-3">
  {% for obj in page_obj %}
    <div class="relative group ">
      <img class="w-full h-5/6 hover:opacity-30 transition-opacity ease-linear duration-100" src="{{obj.cover_image.url|default_if_none:" "}}" alt="Cover Image">
      <div class="font-bold text-gray-600 group-hover:opacity-100 absolute bottom-22 right-3 opacity-0">
        {{obj.rating}}
        / 5.0
      </div>
      <div class="font-bold">
        {{obj.title|truncatechars:29}}
      </div>
      <div>
        {{obj.year}}
      </div>
    </div>
  {% endfor %}
</div>
