{% extends 'base.html' %}

{% block page_title %}
  {{book.title}}
{% endblock page_title %}

{% block content %}
  <div class="w-full mt-20 max-h-full min-h-screen" style="background: rgba(20,20,20,1);">
    <div class="absolute left-1/4 w-1/2 bg-cover bg-no-repeat bg-center h-full opacity-30" style="background-image:url({{book.cover_image.url}})"></div>
    <div class="flex px-20 pt-20 justify-between">
      <div class="flex 3/4">
        <img class="mr-4" src="{{book.cover_image.url}}" alt="Book Cover Image">
        <div class="z-10">
          <div>
            <span class="detail_field">Title :</span>
            <span class="detail_answer">{{book.title}}</span>
          </div>
          <div>
            <span class="detail_answer">{{book.year}}</span>
          </div>
          <div>
            <span class="detail_field">Rating :</span>
            <span class="detail_answer">{{book.rating}}
              / 5.0</span>
          </div>
          <div>
            <span class="detail_field">Category :</span>
            <span class="detail_answer">{{book.category}}</span>
          </div>
          <div>
            <span class="detail_field">Writer :
            </span>
            <span class="detail_answer">{{book.writer}}</span>
          </div>
        </div>
      </div>
      <a class="edit_button" href="{% url 'books:book-edit' book.pk %}">Edit Book</a>
    </div>
  </div>
{% endblock content%}
