{% extends 'base.html' %}
{% comment %}  {% endcomment %}
{% block page_title %}
  Book List
{% endblock page_title %}

{% block content %}
  <div class="mt-40 flex flex-col items-center justify-items-center min-h-screen">
    <div class="w-10/12">
      <div class="flex flex-col">
        <section class="home_section mt-7 p-8 rounded-lg">
          <h4 class="text-2xl font-bold mb-4">Books</h4>
          <div class="section_grid">
            {% for book in books %}
              {% include 'mixins/book.html' with book=book %}
            {% endfor %}
          </div>
        </section>
        {% include 'mixins/page_number.html' with page_sector=page_sector page_obj=page_obj%}
      </div>
    </div>
  </div>
{% endblock content%}
