{% extends 'base.html' %}
{% comment %}  {% endcomment %}
{% block page_title %}
  Movie List
{% endblock page_title %}

{% block content %}
  <div class="mt-40 flex flex-col items-center justify-items-center min-h-screen">
    <div class="w-10/12 h-full">
      <div class="flex flex-col">
        <section class="home_section mt-10 p-8 rounded-lg">
        <div class="flex justify-between items-center mb-8">
            <h4 class="text-2xl font-bold ">Latest Movies</h4>
            <a href="{% url 'movies:movie-create' %}" class="font-bold px-4 py-2 border-none rounded-lg bg-green-500 text-white">Create Movie</a>
          </div>
        <div class="section_grid">
          {% for movie in movies %}
            {% include 'mixins/movie.html' with movie=movie %}
          {% endfor %}
        </div>
        <a href="{% url 'movies:movie-list' %}" class="listLink">
          Go to Movie List &rarr;
        </a>
      </section>
        {% include 'mixins/page_number.html' with page_sector=page_sector page_obj=page_obj%}
      </div>
    </div>
  </div>
{% endblock content%}
