{% extends 'base.html' %}
{% comment %}  {% endcomment %}
{% block page_title %}
  Movie List
{% endblock page_title %}

{% block content %}
  <div class="mt-40 flex flex-col items-center justify-items-center h-screen">
    <div class="w-11/12 h-full">
      <div class="flex flex-col">
        <section class="home_section">
          <div class="flex justify-between items-center mb-4">
            <h4 class="text-2xl font-bold ">Latest Movies</h4>
            <a href="{% url 'movies:movie-create' %}" class="font-bold px-4 py-2 border-none rounded-lg bg-green-500 text-white">Create Movie</a>
          </div>
          <div class="section_grid">
            {% for movie in movies %}
              <a class="relative group" href="{% url 'movies:movie-detail' movie.pk %}">
                <img class="cover_image" src="{{movie.cover_image.url|default_if_none:" "}}" alt="Cover Image">
                <div class="font-bold text-gray-600 group-hover:opacity-100 absolute bottom-22 right-3 opacity-0">
                  {{movie.rating}}
                  / 5.0
                </div>
                <div class="font-bold">
                  {{movie.title|truncatechars:29}}
                </div>
                <div>
                  {{movie.year}}
                </div>
              </a>
            {% endfor %}
          </div>
        </section>
        {% include 'mixins/page_number.html' with page_sector=page_sector page_obj=page_obj%}
      </div>
    </div>
  </div>
{% endblock content%}
