{% extends 'base.html' %}
{% comment %}  {% endcomment %}
{% block page_title %}Home{% endblock page_title %}

{% block content %}
  <div class="mt-40 flex flex-col items-center justify-items-center min-h-screen">
    <div class="w-10/12 h-full">
      {% include 'partials/category_sector.html' with categories=categories %}
      <section class="home_section mt-10 p-8 rounded-lg">
        <h4 class="text-2xl font-bold mb-4">Latest Books</h4>
        <div class="section_grid">
          {% for book in books %}
            {% include 'mixins/book.html' with book=book %}
          {% endfor %}
        </div>
        <a href="{% url 'books:book-list' %}" class="listLink ">
          Go to Book List &rarr;
        </a>
      </section>

      <section class="home_section mt-10 p-8 rounded-lg">
        <h4 class="text-2xl font-bold mb-4">Latest Movies</h4>
        <div class="section_grid">
          {% for movie in movies %}
            {% include 'mixins/movie.html' with movie=movie %}
          {% endfor %}
        </div>
        <a href="{% url 'movies:movie-list' %}" class="listLink">
          Go to Movie List &rarr;
        </a>
      </section>

      <section class="home_section mt-10 p-8 rounded-lg">
        <h4 class="text-2xl font-bold mb-4">Latest People</h4>
        <div class="section_grid">
          {% for person in people %}
            {% include 'mixins/person.html' with person=person %}
          {% endfor %}
        </div>
        <a href="{% url 'people:person-list' %}" class="listLink">
          Go to People List &rarr;
        </a>
      </section>
      {% include 'partials/three_list_page_number.html' with page_sector=page_sector max_page_obj=max_page_obj%}
    </div>
  </div>
{% endblock content %}