{% extends 'base.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
  <div class="flex flex-col items-center justify-items-center">
    <div class="w-10/12">
      {% comment %}  {% endcomment %}
      {% include 'mixins/book_and_movie_section.html' with section_name="books" page_obj=book_page_obj %}
      {% include 'mixins/book_and_movie_section.html' with section_name="movies" page_obj=movie_page_obj %}

      <section class="people_section">
        <h4>Latest People</h4>
        {% for person in person_page_obj %}
          <div class="poster">
            <div class="img">
              <div>
                {{person.name}}
              </div>
              <div>
                {{person.kind}}
              </div>
            </div>
          </div>
        {% endfor %}
        {% include 'mixins/page_number.html' with section_name="people" page_obj=person_page_obj %}
      </section>
    </div>
  </div>
{% endblock content %}