{% load static i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block page_title %}{% endblock page_title %}
      | Book & Movie</title>
  </head>

  <body class="text-gray-800 font-light mt-28">
    <header class='z-20 grid grid-cols-3 justify-between items-center px-20 border-b-2 mb-9 fixed h-20 bg-white inset-0'>
      <div class="">
        <a href="{% url 'core:home' %}" class="mr-4 flex items-center">
          <span class="font-bold text-xl text-red-500">Home</span>
        </a>
      </div>
    </header>

    <div class="flex flex-col items-center justify-items-center">
      <div class="w-11/12">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </body>

</html>
