{% load static i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block page_title %}{% endblock page_title %}
      | Book & Movie</title>
  </head>

  <style></style>

  <body class="text-gray-800 font-light mt-20">
    {% include 'partials/header.html' %}
    {% block content %}{% endblock content %}
    {% include 'partials/footer.html' %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>

</html>
